{% block content %}

<div class="container my-5">
    <!-- First Section -->
    <div class="row rounded p-5 mb-5 animate__animated animate__fadeInLeft">
        <div class="col-md-6 mb-4 mb-md-0">
            <img src="https://via.placeholder.com/350" alt="Placeholder" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h2 class="fw-bold mb-3">What is RetainMe?</h2>
            <p>
                RetainMe is a decision-support system equipped with machine learning algorithms. It predicts employee
                retention, acting as a pivotal resource for job applicant screening and evaluating their potential for
                long-term roles within organizations. By aiming to optimize the recruitment process, RetainMe ensures
                candidates have a higher likelihood of contributing to an organization's long-term objectives.
            </p>
        </div>
    </div>

    <!-- Second Section -->
    <div class="row rounded p-5 mb-5 animate__animated animate__fadeInRight">
        <div class="col-md-6">
            <h2 class="fw-bold mb-3">How Does It Work?</h2>
            <p>
                Job applicants register on RetainMe, completing their profiles with essential information. Following
                potential tests and surveys, their profile undergoes verification. Upon verification, RetainMe instantly
                predicts the likelihood of the applicant staying long-term if recruited. This prediction becomes an
                influential factor in recruitment, allowing for data-driven decision-making.
            </p>
        </div>
        <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-end">
            <img src="https://via.placeholder.com/350" alt="Placeholder" class="img-fluid rounded">
        </div>
    </div>



    <!-- Limitations Section -->
    <div class="row mt-5 p-4 system-limitations">
        <div class="col-12">
            <h2 class="fw-bold mb-4 text-center system-limitations-heading">System Limitations</h2>
            <ul class="system-limitations-list">
                <li class="system-limitations-item"><i class="fas fa-exclamation-circle system-limitations-icon"></i>
                    Our findings are primarily based on Emergence Systems and Solutions IT department, potentially
                    making it less applicable to other industries.</li>
                <li class="system-limitations-item"><i class="fas fa-exclamation-circle system-limitations-icon"></i>
                    Predictive models from past employee data might not represent future workforce dynamics accurately.
                </li>
                <li class="system-limitations-item"><i class="fas fa-exclamation-circle system-limitations-icon"></i>
                    Our study is limited to classification algorithms, other techniques might offer different insights.
                </li>
                <li class="system-limitations-item"><i class="fas fa-exclamation-circle system-limitations-icon"></i>
                    RDSS focuses on predicting retention for applicants, not current employees, limiting its
                    applicability in ongoing employment scenarios.</li>
                <li class="system-limitations-item"><i class="fas fa-exclamation-circle system-limitations-icon"></i>
                    External factors like political or economic events aren't considered in our retention rate analysis.
                </li>
            </ul>
        </div>
    </div>


    <!-- Researchers Section -->
    <div class="row mt-5 text-center bg-light py-5">
        <div class="col-12 mb-5">
            <h2 class="fw-bold">Meet the Researchers</h2>
        </div>
        <div class="col-md-4 mt-4">
            <img src="https://via.placeholder.com/150" class="rounded-circle mb-3" alt="Sherinata Said">
            <h3>Sherinata Said</h3>
        </div>
        <div class="col-md-4 mt-4">
            <img src="https://via.placeholder.com/150" class="rounded-circle mb-3" alt="Bin-baz Akilan">
            <h3>Bin-baz Akilan</h3>
        </div>
        <div class="col-md-4 mt-4">
            <img src="https://via.placeholder.com/150" class="rounded-circle mb-3" alt="Kenneth Tan">
            <h3>Kenneth Tan</h3>
        </div>
    </div>
</div>

{% endblock content %}