<section class="features" id="features">
    <header class="text-center w-100 py-5">
        <h1 class="feature-title">FEATURES OF RETAINLY</h1>
        <p class="feature-description">Discover the Power of Our Advanced Recruitment System!</p>
    </header>

    <div class="container-md" id="featured-3">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="owl-carousel owl-theme features-text">
                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Hassle-Free Efficiency</h1>
                                <p class="card-text">Say goodbye to paperwork and lengthy processes. With RetainMe, applicants can easily submit their applications online anytime, anywhere. Hassle-free recruitment made simple.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Predictive Power</h1>
                                <p class="card-text">Harness the advanced predictive analytics of RetainMe. Our
                                    cutting-edge technology analyzes factors like qualifications and experience to
                                    predict employee retention probabilities. Make data-driven recruitment decisions.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Enhance Team Stability</h1>
                                <p class="card-text">By predicting employee retention, you can build a more stable and
                                    committed team.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Environmentally Friendly</h1>
                                <p class="card-text">By embracing RetainMe, you contribute to a greener future. Our
                                    paperless system reduces waste, promoting a healthier environment. Join the
                                    paperless revolution with RetainMe.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Improve Hiring Efficiency</h1>
                                <p class="card-text">Our system helps you streamline the hiring process, saving time and
                                    resources.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Automated Screening</h5>
                                    <p class="card-text">Save time and resources with RetainMe's automated application
                                        screening. Streamline the process, evaluate applications efficiently, and focus
                                        on finding the right candidates for your organization.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Real-Time Insights</h1>
                                <p class="card-text">Monitor employee performance and engagement with RetainMe. Take
                                    proactive action and provide personalized support to improve retention rates. Stay
                                    ahead of potential issues.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Visualize Success</h1>
                                <p class="card-text">RetainMe presents intuitive dashboards and reports, summarizing key
                                    retention metrics and candidate insights. Empower your HR teams with data-driven
                                    decisions and drive success.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Drive Business Growth</h1>
                                <p class="card-text">A well-retained team leads to consistent business growth and
                                    success.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-nav-buttons">
            <button class="custom-nav-button" id="customPrev"><i class="fas fa-angle-left"></i></button>
            <button class="custom-nav-button" id="customNext"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>
</section>