{% load static %}
<section class="banner2">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-7">
                <div class="inner-column pe-xxl-5">
                    <div class="banner-title mb-md-2-5">
                        <h1 class="mb-3">Find the Perfect Job with AI</h1>
                        <p>Search Jobs, Employment and Career Opportunities</p>
                    </div>
                    <div class="job-search-form">
                        <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                            <div class="quform-elements">
                                <div class="row mt-n3">
                                    <div class="col-md-12 col-lg-5 mt-3">
                                        <div class="quform-element">
                                            <div class="quform-input">
                                                <input id="job-search" class="form-control" type="text"
                                                    name="job-search" placeholder="Job title, keywords, or company" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4 mt-3">
                                        <div class="quform-element">
                                            <div class="quform-input">
                                                <input id="email" class="form-control" type="text" name="email"
                                                    placeholder="City or postcode" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-3 mt-3">
                                        <div class="quform-submit-inner">
                                            <button class="butn" type="submit"><span>Find Jobs</span></button>
                                        </div>
                                        <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="image-column col-lg-5 d-none d-lg-block">
                <div class="image-box">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="{% static 'img/banner-04.jpg' %}" class="border-radius-5" alt="...">
                        </div>
                        <div class="col-6">
                            <img src="{% static 'img/banner-02.jpg' %}" class="mb-4 border-radius-5" alt="...">
                            <img src="{% static 'img/banner-03.jpg' %}" class="border-radius-5" alt="...">
                        </div>
                    </div>
                    <div class="banner-image-text d-none d-sm-block">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <i class="upload-icon" data-feather="upload"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h4 class="h6 mb-0">Upload Your CV</h4>
                                <small>It only takes a few seconds</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container mb-5">
        <div class="section-heading2">
            <span class="mt-5"># How We Work</span>
            <h2><strong>Our working</strong> process</h2>
        </div>
        <div class="row mt-n1-9">
            <div class="col-sm-6 col-lg-3 mt-1-9">
                <div class="process-style2 first">
                    <div class="process-arrow">
                        <div class="process-icon-box">
                            <img src="{% static 'icons/icon-22.png' %}" alt="...">
                        </div>
                        <div class="process-contnet">
                            <h4 class="process-title">01. Create Account</h4>
                            <p class="mb-0 process-description">Sign Up Your Profile</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-1-9">
                <div class="process-style2">
                    <div class="process-arrow">
                        <div class="process-icon-box">
                            <img src="{% static 'icons/icon-23.png' %}" alt="...">
                        </div>
                        <div class="process-contnet">
                            <h4 class="process-title">02. CV / Resume Upload</h4>
                            <p class="mb-0 process-description">Upload By Category</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-1-9">
                <div class="process-style2">
                    <div class="process-arrow">
                        <div class="process-icon-box">
                            <img src="{% static 'icons/icon-24.png' %}" alt="...">
                        </div>
                        <div class="process-contnet">
                            <h4 class="process-title">03. Find Vacancy</h4>
                            <p class="mb-0 process-description">Choose A Suitable Job</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-1-9">
                <div class="process-style2 last">
                    <div class="process-arrow">
                        <div class="process-icon-box">
                            <img src="{% static 'icons/icon-25.png' %}" alt="...">
                        </div>
                        <div class="process-contnet">
                            <h4 class="process-title">04. Apply Them</h4>
                            <p class="mb-0 process-description">Get Personal Job Offer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light recent-job-style1">
    <div class="container">
        <div class="section-heading2">
            <span class="mt-5"># Recent Jobs</span>
            <h2><strong>Latest job</strong> postings</h2>
        </div>
        <div class="row mt-n1-9">
            {% for job in recent_jobs %}
            <div class="col-md-6 col-lg-4 mt-1-9 mb-5">
                <div class="card card-style2 border-color-extra-light-gray h-100 border-radius-5">
                    <div class="card-body p-1-6 p-xl-1-9">
                        <h4 class="h5 mb-4"><a href="#" class="job-title">{{ job.job_title }}</a></h4>
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="{{ job.employer_profile.logo.url }}" class="border-radius-50" alt="Company Logo" style="width: 70px; height: 70px;">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-0 company-username">{{ job.employer_profile.user_profile.user.username }}</h6>
                                <span class="text-muted display-31 job-creation-date">{{ job.created_date|date:"M d, Y" }}</span>
                            </div>
                        </div>
                        <h5 class="text-primary mb-3">
                            <span class="offered-salary">&#8369;{{ job.offered_salary|floatformat:"2" }}</span>


                            <span class="text-muted display-31 per-month">/ Month</span>
                        </h5>
                        <div class="mb-4">
                            <span class="display-30 me-2 location-info"><i class="fas fa-map-marker-alt pe-2"></i>{{ job.city }}, {{ job.region }}</span>
                            <span class="display-30 job-type-info"><i class="far fa-clock pe-2"></i>{{ job.job_type }}</span>
                        </div>
                        {% if user.is_authenticated %}
                        <a href="{% url 'job_details' job.id %}" class="btn btn-blue radius no-underline">Apply Now</a>
                        {% else %}
                        <a href="{% url 'user_login' %}" class="btn btn-blue">Sign In to Apply</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
