{% extends 'base.html' %} {% block content %}
<div class="container mb-5">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-lg-6 my-auto">
      <section class="py-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">

                <div class="p-5 border border-md-0">
                  <div class="text-center mb-5">
                    <h1 class="login-heading">
                      <a href="{% url 'index' %}" class="text-reset text-decoration-none">RETAINLY</a>
                    </h1>
                    <p class="login-desc">Create an account to get started</p>
                  </div>
                  <form method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-6 mb-3">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" required />
                        {% if error_messages and 'firstname' in error_messages %}
                        <p class="text-danger">{{ error_messages.firstname }}</p>
                        {% endif %}
                      </div>

                      <div class="col-6 mb-3">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" required />
                        {% if error_messages and 'lastname' in error_messages %}
                        <p class="text-danger">{{ error_messages.lastname }}</p>
                        {% endif %}
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="username">Username</label>
                      <input type="text" id="username" name="username" class="form-control" required />
                      {% if error_messages and 'username' in error_messages %}
                      <p class="text-danger">{{ error_messages.username }}</p>
                      {% endif %}
                    </div>

                    <div class="mb-3">
                      <label for="email" class="form-label">Email Address</label>
                      <input type="email" class="form-control" id="email" name="email" required />
                      {% if error_messages and 'email' in error_messages %}
                      <p class="text-danger">{{ error_messages.email }}</p>
                      {% endif %}
                    </div>

                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <div class="input-group">
                        <input type="password" class="form-control" id="password" name="password" required />
                        <span class="input-group-text" id="togglePassword">
                          <i data-feather="eye"></i>
                        </span>
                      </div>
                      {% if error_messages and 'password' in error_messages %}
                      <p class="text-danger">{{ error_messages.password }}</p>
                      {% endif %}
                    </div>

                    <div class="mb-3">
                      <label for="confirmPassword" class="form-label">
                        Confirm Password
                      </label>
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                        required />
                      {% if error_messages and 'confirmPassword' in error_messages %}
                      <p class="text-danger">{{ error_messages.confirmPassword }}</p>
                      {% endif %}
                    </div>
                    <div class="mb-3">
                      <label for="role">Select Role</label>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" id="candidateRole" name="role" value="candidate"
                          checked>
                        <label class="form-check-label" for="candidateRole">Candidate</label>
                      </div>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" id="employerRole" name="role" value="employer">
                        <label class="form-check-label" for="employerRole">Employer</label>
                      </div>
                    </div>

                    <div class="mb-3">
                      <div class="col-12">
                        <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
                      </div>
                      {% if error_messages and 'recaptcha' in error_messages %}
                      <p class="text-danger">{{ error_messages.recaptcha }}</p>
                      {% endif %}
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <button type="submit" class="btn btn-blue w-100">Sign Up</button>
                      </div>

                      <div class="col-6">
                        <a href="#" class="btn btn-outline-blue w-100">
                          <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
                            width="20px" />
                          <span class="google-text">Sign up with Google</span>
                        </a>
                      </div>
                    </div>
                  </form>
                  <div class="mt-4 text-center">
                    <p class="mb-0">
                      Already have an account?
                      <a href="{% url 'sign_in' %}" class="text-decoration-none">Sign In</a>
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock %}