{% load static %}

<footer class="pt-0">
    <div class="container py-md-6 mb-6 mb-md-8 mb-lg-10">
        <div class="row justify-content-center align-items-center mt-n1-9">
            <div class="col-xl-6 mt-1-9">
                <div class="d-sm-flex align-items-center mt-5">
                    <div class="flex-shrink-0 mb-1-6 mb-sm-0">
                        <!-- <a href="index.html" class="footer-logo"><img src="img/logos/logo-white.png" alt="..."></a> -->
                    </div>
                    <div class="flex-grow-1 border-sm-start border-color-light-white ms-sm-4 ps-sm-4 border-width-2">
                        <p class="mb-0 display-30 text-white opacity9 w-lg-95">Create a free account to discover lots of
                            Jobs & Career Opportunities around you!</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mt-5">
                <div class="row">
                    <div class="col-sm-4 mb-1-9 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img src="{% static 'icons/icon-09.png' %}" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h3 class="h2 mb-1 countup font-weight-700 text-white">1327</h3>
                                <p class="mb-0 font-weight-600 text-white opacity9 display-30">Job Posted</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-1-9 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img src="{% static 'icons/icon-10.png' %}" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <h3 class="h2 mb-1 countup font-weight-700 text-white">150</h3>
                                <p class="mb-0 font-weight-600 text-white opacity9 display-30">Job Filled</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img src="{% static 'icons/icon-11.png' %}" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <h3 class="h2 mb-1 countup font-weight-700 text-white">220</h3>
                                <p class="mb-0 font-weight-600 text-white opacity9 display-30">Companies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bar borders-top border-color-light-white">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-center text-md-start mt-3 mt-md-0 order-2 order-md-1">
                    <p class="d-inline-block text-white mb-0">&copy; <span class="current-year"></span> Retainly
                        <a href="#!" class="text-primary white-hover">BinDevs</a>
                    </p>
                </div>
                <div class="col-md-5 text-center text-md-end order-1 order-md-2">
                    <p class="text-white d-inline-block mb-0 align-middle">Follow Us :</p>
                    <ul class="footer-social-style1">
                        <li>
                            <a href="#!"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>