{% load static %}
<nav class="navbar navbar-expand-lg py-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'logo.png' %}" alt="Retainly Logo" width="30" height="30"
        class="d-inline-block align-text-top logo-img" />
      Retainly
    </a>

    <!-- Hamburger menu toggle button -->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Navbar links -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item {% if current_page == 'index' %}active{% endif %}">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item {% if current_page == 'jobs' %}active{% endif %}">
            <a class="nav-link" href="{% url 'jobs' %}">Jobs</a>
        </li>
        <li class="nav-item {% if current_page == 'about' %}active{% endif %}">
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <!-- Added me-3 to introduce a gap between the username and the photo -->
        <li class="nav-item me-3">
          {{ user.username }}
        </li>
        <li class="nav-item dropdown">
          <!-- Using placeholder.com for the profile image -->
          <a class="dropdown-toggle" href="#" role="button" id="profileDropdown" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="https://via.placeholder.com/100" alt="{{ user.username }}" width="50" height="50"
              class="rounded-circle">
          </a>
          <!-- Align dropdown to the right edge -->
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="{% url 'view-profile' %}">View Profile</a>
            <a class="dropdown-item" href="{% url 'edit-profile' %}">Edit Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-blue fw-500" href="{% url 'sign-in' %}">
            Sign In
            <i class="ms-2" data-feather="arrow-right"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>