{% extends 'base.html' %} {% load static %} {% block content %}

<section class="page-title-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="h2 mb-4">Job Details</h1>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="page-title-list">
                            <ol class="breadcrumb d-inline-block mb-0">
                                <li class="breadcrumb-item d-inline-block"><a href="#!">Home</a></li>
                                <li class="breadcrumb-item d-inline-block active"><a href="#!" class="text-blue">Jobs</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-5">
        <div class="row mb-2-2 mb-lg-2-5 pb-2-2 pb-lg-2-5 mt-n1-9 border-color-extra-light-gray">
            <div class="col-lg-8 mt-1-9">
                <div class="pe-lg-1-6 pe-xl-1-9">
                    <div class="row align-items-center mb-2-2 pb-2-2 border-bottom border-color-extra-light-gray">
                        <div class="col-sm-8 mb-4 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div class="job-details-logo">
                                        <img src="{% static 'content/job-01.jpg' %}" alt="..." class="border-radius-10">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3 ms-sm-4">
                                    <h4>{{ job.job_title }}</h4>
                                    <span class="text-muted">{{ job.job_level }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 py-5">
                            <div class="row">
                                <div class="col-12">
                                    <form method="post" action="{% url 'apply_for_job' job.id %}">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-blue mb-3 w-100 text-center">Apply Job</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-12 mb-3">
                            <h5 class="mb-3">Job Description :</h5>
                            <p>{{ job.job_description|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-1-9">
                <div class="job-details-sidebar">
                    <div class="widget">
                        <div class="card border-color-extra-light-gray border-radius-10">
                            <div class="card-body p-4">
                                <h4>Job Summary</h4>
                                <ul class="list-style5">
                                    <li><span>Published</span> {{ job.created_date|date:"F d, Y" }}</li>
                                    <li><span>Vacancy</span> 08</li>
                                    <li><span>Job Type</span>{{ job.job_type }}</li>
                                    <li><span>Experience</span>{{ job.experience_level }}</li>
                                    <li><span>Location</span>{{ job.region }}, {{ job.city }}, {{ job.barangay }},{{ job.street }}</li>
                                    <li><span>Salary</span>{{ job.offered_salary }}</li>
                                    <li><span>Deadline</span>{{ job.deadline_date }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="widget mb-5">
                        <div class="card border-color-extra-light-gray border-radius-10">
                            <div class="card-body p-4">
                                <h4>About Company</h4>
                                <ul class="list-style5">
                                    <li><span>Phone</span>{{ employer_profile.phone }}</li>
                                    <li><span>Email</span>{{ user_email }}</li>
                                    <li>
                                        <span>Website</span>
                                        <a href="{{ employer_profile.website_link }}" target="_blank">{{ employer_profile.website_link }}</a>
                                    </li>
                                    <li><span>Address</span>{{ employer_profile.region }}, {{ employer_profile.city }}, {{ employer_profile.barangay }}, {{ employer_profile.street }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}