{% extends 'base.html' %} {% load static %} {% block content %}


<section class="mb-5">
    <div class="row g-0 border-top border-color-extra-light-gray">
        {% include 'includes/candidate_sidebar.html' %}
        <div class="col-lg-9">
            <div class="dashboard-right-sidebar">
                <div class="row mb-2-2">
                    <div class="col-lg-12 mb-1-9 section-title">
                        <h1 class="mb-5">My Resume</h1>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h2 class="mb-0 h2-title">Add Education</h2>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="p-3 p-sm-4 border bg-light mb-2-5 border-radius-10">
                                <form action="{% url 'add_education' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="quform-elements">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="school_name">School Name</label>
                                                    <div class="quform-input">
                                                        <input id="school_name" class="form-control" type="text"
                                                            name="school_name" placeholder="Enter school name"  required/>
                                                            {% if error_messages and 'school_name' in error_messages %}
                                                            <p class="text-danger">{{ error_messages.school_name }}</p>
                                                            {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="education_level">Education Level</label>
                                                    <div class="quform-input">
                                                        <select id="education_level" class="form-control" name="education_level" required>
                                                            <option value="" selected disabled>Select Education Level</option>
                                                            <option value="High School Diploma">High School Diploma</option>
                                                            <option value="Associate's Degree">Associate's Degree</option>
                                                            <option value="Bachelor's Degree">Bachelor's Degree</option>
                                                            <option value="Master's Degree">Master's Degree</option>
                                                            <option value="Doctorate Degree">Doctorate Degree</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" id="educational_degree_field" style="display: none;">
                                                <div class="quform-element form-group">
                                                    <label for="educational_degree">Educational Degree</label>
                                                    <div class="quform-input">
                                                        <input id="educational_degree" class="form-control" type="text"
                                                            name="educational_degree"
                                                            placeholder="Enter educational degree" required/>
                                                        {% if error_messages and 'educational_degree' in error_messages %}
                                                            <p class="text-danger">{{ error_messages.educational_degree }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="start_date">Start date</label>
                                                        <div class="quform-input d-flex">
                                                            <select id="start_month"
                                                                class="form-control form-select me-2" name="start_month"
                                                                required>
                                                                <option value="" disabled selected>Select Month</option>
                                                                <option value="January">January</option>
                                                                <option value="February">February</option>
                                                                <option value="March">March</option>
                                                                <option value="April">April</option>
                                                                <option value="May">May</option>
                                                                <option value="June">June</option>
                                                                <option value="July">July</option>
                                                                <option value="August">August</option>
                                                                <option value="September">September</option>
                                                                <option value="October">October</option>
                                                                <option value="November">November</option>
                                                                <option value="December">December</option>
                                                            </select>
                                                            <select id="start_year" class="form-control form-select"
                                                                name="start_year" required>
                                                                <option value="" disabled selected>Select Year</option>
                                                                <option value="2023">2023</option>
                                                                <option value="2022">2022</option>
                                                                <option value="2021">2021</option>
                                                                <option value="2020">2020</option>
                                                                <option value="2019">2019</option>
                                                                <option value="2018">2018</option>
                                                                <option value="2017">2017</option>
                                                                <option value="2016">2016</option>
                                                                <option value="2015">2015</option>
                                                                <option value="2014">2014</option>
                                                                <option value="2013">2013</option>
                                                                <option value="2012">2012</option>
                                                                <option value="2011">2011</option>
                                                                <option value="2010">2010</option>
                                                                <option value="2009">2009</option>
                                                                <option value="2008">2008</option>
                                                                <option value="2007">2007</option>
                                                                <option value="2006">2006</option>
                                                                <option value="2005">2005</option>
                                                                <option value="2004">2004</option>
                                                                <option value="2003">2003</option>
                                                                <option value="2002">2002</option>
                                                                <option value="2001">2001</option>
                                                                <option value="2000">2000</option>
                                                            </select>
                                                        </div>
                                                        {% if error_messages and 'start_month' in error_messages %}
                                                        <p class="text-danger">{{ error_messages.start_month }}</p>
                                                        {% endif %}
                                                        {% if error_messages and 'start_year' in error_messages %}
                                                        <p class="text-danger">{{ error_messages.start_year }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="quform-element form-group">
                                                        <label for="end_date">End date (or expected)</label>
                                                        <div class="quform-input d-flex">
                                                            <select id="end_month" class="form-control form-select me-2"
                                                                name="end_month" required>
                                                                <option value="" disabled selected>Select Month</option>
                                                                <option value="January">January</option>
                                                                <option value="February">February</option>
                                                                <option value="March">March</option>
                                                                <option value="April">April</option>
                                                                <option value="May">May</option>
                                                                <option value="June">June</option>
                                                                <option value="July">July</option>
                                                                <option value="August">August</option>
                                                                <option value="September">September</option>
                                                                <option value="October">October</option>
                                                                <option value="November">November</option>
                                                                <option value="December">December</option>
                                                            </select>
                                                            <select id="end_year" class="form-control form-select"
                                                                name="end_year" required>
                                                                <option value="" disabled selected>Select Year</option>
                                                                <option value="2023">2023</option>
                                                                <option value="2022">2022</option>
                                                                <option value="2021">2021</option>
                                                                <option value="2020">2020</option>
                                                                <option value="2019">2019</option>
                                                                <option value="2018">2018</option>
                                                                <option value="2017">2017</option>
                                                                <option value="2016">2016</option>
                                                                <option value="2015">2015</option>
                                                                <option value="2014">2014</option>
                                                                <option value="2013">2013</option>
                                                                <option value="2012">2012</option>
                                                                <option value="2011">2011</option>
                                                                <option value="2010">2010</option>
                                                                <option value="2009">2009</option>
                                                                <option value="2008">2008</option>
                                                                <option value="2007">2007</option>
                                                                <option value="2006">2006</option>
                                                                <option value="2005">2005</option>
                                                                <option value="2004">2004</option>
                                                                <option value="2003">2003</option>
                                                                <option value="2002">2002</option>
                                                                <option value="2001">2001</option>
                                                                <option value="2000">2000</option>
                                                            </select>
                                                        </div>
                                                        {% if error_messages and 'end_month' in error_messages %}
                                                        <p class="text-danger">{{ error_messages.end_month }}</p>
                                                        {% endif %}
                                                        {% if error_messages and 'end_year' in error_messages %}
                                                        <p class="text-danger">{{ error_messages.end_year }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="additional_info">Additional Information</label>
                                                    <div class="quform-input">
                                                        <textarea id="additional_info" class="form-control"
                                                            name="additional_info" rows="6"
                                                            placeholder="How'd you hear education description" required></textarea>
                                                            {% if error_messages and 'additional_info' in error_messages %}
                                                            <p class="text-danger">{{ error_messages.additional_info }}</p>
                                                            {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="btn btn-blue" type="submit"><span>Add
                                                            Education</span></button>
                                                    <a href="{% url 'resume' %}"
                                                        class="btn btn-blue  "><span>Back</span></a>
                                                </div>
                                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}