{% extends 'base.html' %} {% load static %} {% block content %}


<section class="mb-5">
    <div class="row g-0 border-top border-color-extra-light-gray">
        {% include 'includes/candidate_sidebar.html' %}
        <div class="col-lg-9">
            <div class="dashboard-right-sidebar">
                <div class="row mb-2-2">
                    <div class="col-lg-12 mb-1-9">
                        <h3 class="mb-5">My Resume</h3>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-0">Add Education</h5>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="p-3 p-sm-4 border bg-light mb-2-5 border-radius-10">
                                <form action="{% url 'add_education' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="quform-elements">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="educational_degree">Educational Degree</label>
                                                    <div class="quform-input">
                                                        <input id="educational_degree" class="form-control" type="text"
                                                            name="educational_degree"
                                                            placeholder="Enter educational degree" required/>
                                                            {% if error_messages and 'educational_degree' in error_messages %}
                                                            <p class="text-danger">{{ error_messages.educational_degree }}</p>
                                                            {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="year">Year</label>
                                                    <div class="quform-input">
                                                        <select id="year" class="form-control form-select" name="year" required>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                            <option value="2023">2023</option>
                                                        </select>
                                                        {% if error_messages and 'year' in error_messages %}
                                                        <p class="text-danger">{{ error_messages.year }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="school_name">School Name</label>
                                                    <div class="quform-input">
                                                        <input id="school_name" class="form-control" type="text"
                                                            name="school_name" placeholder="Enter school name"  required/>
                                                            {% if error_messages and 'school_name' in error_messages %}
                                                            <p class="text-danger">{{ error_messages.school_name }}</p>
                                                            {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="additional_info">Additional Information</label>
                                                    <div class="quform-input">
                                                        <textarea id="additional_info" class="form-control"
                                                            name="additional_info" rows="6"
                                                            placeholder="How'd you hear education description" required></textarea>
                                                            {% if error_messages and 'additional_info' in error_messages %}
                                                            <p class="text-danger">{{ error_messages.additional_info }}</p>
                                                            {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="btn btn-blue" type="submit"><span>Add
                                                            Education</span></button>
                                                    <a href="{% url 'resume' %}"
                                                        class="btn btn-blue  "><span>Back</span></a>
                                                </div>
                                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}