{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="mb-5">
    <div class="row g-0 border-top border-color-extra-light-gray">
        {% include 'includes/candidate_sidebar.html' %}
        <div class="col-lg-9">
            <div class="dashboard-right-sidebar">
                <div class="row mb-2-2">
                    <div class="col-lg-12 mb-1-9 section-title">
                        <h1 class="mb-5">My Resume</h1>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h2 class="mb-0 h2-title">Update Education</h2>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="p-3 p-sm-4 border bg-light mb-2-5 border-radius-10">
                                <form action="{% url 'edit_education' education_record.id %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="quform-elements">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="school_name">School Name</label>
                                                    <div class="quform-input">
                                                        <input id="school_name" class="form-control" type="text"
                                                            name="school_name" placeholder="Enter school name"  required
                                                            value="{{ education_record.school_name }}"/>
                                                        {% if error_messages and 'school_name' in error_messages %}
                                                        <p class="text-danger">{{ error_messages.school_name }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="education_level">Education Level</label>
                                                    <div class="quform-input">
                                                        <select id="education_level" class="form-control" name="education_level" required>
                                                            <option value="" selected disabled>Select Education Level</option>
                                                            <option value="High School Diploma" {% if education_record.education_level == 'High School Diploma' %}selected{% endif %}>High School Diploma</option>
                                                            <option value="Associate's Degree" {% if education_record.education_level == "Associate's Degree" %}selected{% endif %}>Associate's Degree</option>
                                                            <option value="Bachelor's Degree" {% if education_record.education_level == "Bachelor's Degree" %}selected{% endif %}>Bachelor's Degree</option>
                                                            <option value="Master's Degree" {% if education_record.education_level == "Master's Degree" %}selected{% endif %}>Master's Degree</option>
                                                            <option value="Doctorate Degree" {% if education_record.education_level == 'Doctorate Degree' %}selected{% endif %}>Doctorate Degree</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="educational_degree">Educational Degree</label>
                                                    <div class="quform-input">
                                                        <input id="educational_degree" class="form-control" type="text"
                                                            name="educational_degree"
                                                            placeholder="Enter educational degree" required
                                                            value="{{ education_record.educational_degree }}"/>
                                                        {% if error_messages and 'educational_degree' in error_messages %}
                                                            <p class="text-danger">{{ error_messages.educational_degree }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="start_date">Start date</label>
                                                    <div class="quform-input d-flex">
                                                        <select id="start_month"
                                                            class="form-control form-select me-2" name="start_month"
                                                            required>
                                                            <option value="" disabled>Select Month</option>
                                                            <option value="January" {% if education_record.start_month == "January" %} selected {% endif %}>January</option>
                                                            <option value="February" {% if education_record.start_month == "February" %} selected {% endif %}>February</option>
                                                            <option value="March" {% if education_record.start_month == "March" %} selected {% endif %}>March</option>
                                                            <option value="April" {% if education_record.start_month == "April" %} selected {% endif %}>April</option>
                                                            <option value="May" {% if education_record.start_month == "May" %} selected {% endif %}>May</option>
                                                            <option value="June" {% if education_record.start_month == "June" %} selected {% endif %}>June</option>
                                                            <option value="July" {% if education_record.start_month == "July" %} selected {% endif %}>July</option>
                                                            <option value="August" {% if education_record.start_month == "August" %} selected {% endif %}>August</option>
                                                            <option value="September" {% if education_record.start_month == "September" %} selected {% endif %}>September</option>
                                                            <option value="October" {% if education_record.start_month == "October" %} selected {% endif %}>October</option>
                                                            <option value="November" {% if education_record.start_month == "November" %} selected {% endif %}>November</option>
                                                            <option value="December" {% if education_record.start_month == "December" %} selected {% endif %}>December</option>
                                                        </select>
                                                        <select id="start_year" class="form-control form-select" name="start_year" required>
                                                            <option value="" disabled>Select Year</option>
                                                            {% for year in years %}
                                                                <option value="{{ year }}" {% if education_record.start_year == year|default:'' %} selected {% endif %}>{{ year }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    {% if error_messages and 'start_month' in error_messages %}
                                                    <p class="text-danger">{{ error_messages.start_month }}</p>
                                                    {% endif %}
                                                    {% if error_messages and 'start_year' in error_messages %}
                                                    <p class="text-danger">{{ error_messages.start_year }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="end_date">End date (or expected)</label>
                                                    <div class="quform-input d-flex">
                                                        <select id="end_month" class="form-control form-select me-2" name="end_month" required>
                                                            <option value="" disabled>Select Month</option>
                                                            <option value="January" {% if education_record.end_month == "January" %} selected {% endif %}>January</option>
                                                            <option value="February" {% if education_record.end_month == "February" %} selected {% endif %}>February</option>
                                                            <option value="March" {% if education_record.end_month == "March" %} selected {% endif %}>March</option>
                                                            <option value="April" {% if education_record.end_month == "April" %} selected {% endif %}>April</option>
                                                            <option value="May" {% if education_record.end_month == "May" %} selected {% endif %}>May</option>
                                                            <option value="June" {% if education_record.end_month == "June" %} selected {% endif %}>June</option>
                                                            <option value="July" {% if education_record.end_month == "July" %} selected {% endif %}>July</option>
                                                            <option value="August" {% if education_record.end_month == "August" %} selected {% endif %}>August</option>
                                                            <option value="September" {% if education_record.end_month == "September" %} selected {% endif %}>September</option>
                                                            <option value="October" {% if education_record.end_month == "October" %} selected {% endif %}>October</option>
                                                            <option value="November" {% if education_record.end_month == "November" %} selected {% endif %}>November</option>
                                                            <option value="December" {% if education_record.end_month == "December" %} selected {% endif %}>December</option>
                                                        </select>
                                                        <select id="end_year" class="form-control form-select" name="end_year" required>
                                                            <option value="" disabled>Select Year</option>
                                                            {% for year in years %}
                                                                <option value="{{ year }}" {% if education_record.end_year == year|default:'' %} selected {% endif %}>{{ year }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    {% if error_messages and 'end_month' in error_messages %}
                                                        <p class="text-danger">{{ error_messages.end_month }}</p>
                                                    {% endif %}
                                                    {% if error_messages and 'end_year' in error_messages %}
                                                        <p class="text-danger">{{ error_messages.end_year }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="additional_info">Additional Information</label>
                                                    <div class="quform-input">
                                                        <textarea id="additional_info" class="form-control"
                                                            name="additional_info" rows="6"
                                                            placeholder="How'd you hear education description" required>{{ education_record.additional_info }}</textarea>
                                                        {% if error_messages and 'additional_info' in error_messages %}
                                                        <p class="text-danger">{{ error_messages.additional_info }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="btn btn-blue" type="submit"><span>Update
                                                            Education</span></button>
                                                    <a href="{% url 'resume' %}"
                                                        class="btn btn-blue  "><span>Back</span></a>
                                                </div>
                                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
