{% extends 'base.html' %} {% load static %} {% block content %}


<section class="mb-5">
    <div class="row g-0 border-top border-color-extra-light-gray">
        {% include 'includes/candidate_sidebar.html' %}
        <div class="col-lg-9">
            <div class="dashboard-right-sidebar">
                <div class="row mb-2-2">
                    <div class="col-lg-12 mb-1-9">
                        <h3 class="mb-5">My Resume</h3>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-0">Education</h5>
                                </div>
                                <a href="#!"><span class="text-danger"><i class="ti-pencil-alt pe-2"></i>Add
                                        Education</span></a>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="p-3 p-sm-4 border bg-light mb-2-5 border-radius-10">
                                <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                                    <div class="quform-elements">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="education-title">Education Title</label>
                                                    <div class="quform-input">
                                                        <input id="education-title" class="form-control" type="text"
                                                            name="education-title"
                                                            placeholder="Enter education title" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="year">Year</label>
                                                    <div class="quform-input">
                                                        <select id="year" class="form-control form-select" name="year">
                                                            <option value="">2021</option>
                                                            <option value="50-80 K">2014</option>
                                                            <option value="60-90 K">2013</option>
                                                            <option value="70-100 K">2012</option>
                                                            <option value="100-150 K">2011</option>
                                                            <option value="60-90 K">2010</option>
                                                            <option value="70-100 K">2019</option>
                                                            <option value="100-150 K">2018</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="institute-name">Institute Name</label>
                                                    <div class="quform-input">
                                                        <input id="institute-name" class="form-control" type="text"
                                                            name="institute-name" placeholder="Enter institute name" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="education-description">Education Description</label>
                                                    <div class="quform-input">
                                                        <textarea id="education-description" class="form-control"
                                                            name="education-description" rows="6"
                                                            placeholder="How'd you hear education description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="butn" type="submit"><span>Add
                                                            Education</span></button>
                                                </div>
                                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="vertical-timeline mt-5">
                                {% for education_record in education_records %}
                                <div class="d-block d-sm-flex justify-content-between mb-5">
                                    <div class="left-side">
                                        <h5 class="display-28">{{ education_record.institute_name }}</h5>
                                        <span class="text-primary display-28">{{ education_record.year }}</span>
                                    </div>
                                    <div class="right-side">
                                        <div class="d-xl-inline-flex mb-3">
                                            <h5 class="display-28 mb-3 mb-xl-0">{{ education_record.education_title }}</h5>
                                            <ul class="action-list ms-3">
                                                <li><a href="#!"><span data-feather="edit"></span></a></li>
                                                <li><a href="#!"><span data-feather="trash"></span></a></li>
                                            </ul>
                                        </div>
                                        <p class="mb-0">{{ education_record.education_description }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 py-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-0">Work & Experience</h5>
                                </div>
                                <a href="#!"><span class="text-danger"><i class="ti-pencil-alt pe-2"></i>Add
                                        Work</span></a>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="p-3 p-sm-4 border bg-light mb-2-5 border-radius-10">
                                <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                                    <div class="quform-elements">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="position-title">Position Title</label>
                                                    <div class="quform-input">
                                                        <input id="position-title" class="form-control" type="text"
                                                            name="position-title" placeholder="Enter position title" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="work-year">Year</label>
                                                    <div class="quform-input">
                                                        <select id="work-year" class="form-control form-select"
                                                            name="work-year">
                                                            <option value="">2021</option>
                                                            <option value="50-80 K">2014</option>
                                                            <option value="60-90 K">2013</option>
                                                            <option value="70-100 K">2012</option>
                                                            <option value="100-150 K">2011</option>
                                                            <option value="60-90 K">2010</option>
                                                            <option value="70-100 K">2019</option>
                                                            <option value="100-150 K">2018</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="company-name">Company Name</label>
                                                    <div class="quform-input">
                                                        <input id="company-name" class="form-control" type="text"
                                                            name="company-name" placeholder="Enter company name" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="work-description">Work Description</label>
                                                    <div class="quform-input">
                                                        <textarea id="work-description" class="form-control"
                                                            name="work-description" rows="6"
                                                            placeholder="How'd you hear work description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="butn" type="submit"><span>Add Work</span></button>
                                                </div>
                                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="vertical-timeline mt-5">
                                <div class="d-block d-sm-flex justify-content-between mb-5">
                                    <div class="left-side">
                                        <h5 class="display-28">Web Designer</h5>
                                        <span class="text-primary display-28">2001 - 2003</span>
                                    </div>
                                    <div class="right-side">
                                        <div class="d-xl-inline-flex mb-3">
                                            <h5 class="display-28 mb-3 mb-xl-0">Sparks Ltd.</h5>
                                            <ul class="action-list ms-3">
                                                <li><a href="#!"><span data-feather="edit"></span></a></li>
                                                <li><a href="#!"><span data-feather="trash"></span></a></li>
                                            </ul>
                                        </div>
                                        <p class="mb-0">The first factor to keep in mind approximately achievement is
                                            that it's a process – not anything more, not anything less.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 py-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-0">Awards</h5>
                                </div>
                                <a href="#!"><span class="text-danger"><i class="ti-pencil-alt pe-2"></i>Add
                                        Awards</span></a>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="p-3 p-sm-4 border bg-light mb-2-5 border-radius-10">
                                <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                                    <div class="quform-elements">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="award-title">Award Title</label>
                                                    <div class="quform-input">
                                                        <input id="award-title" class="form-control" type="text"
                                                            name="award-title" placeholder="Enter award title" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="award-year">Year</label>
                                                    <div class="quform-input">
                                                        <select id="award-year" class="form-control form-select"
                                                            name="award-year">
                                                            <option value="">2021</option>
                                                            <option value="50-80 K">2014</option>
                                                            <option value="60-90 K">2013</option>
                                                            <option value="70-100 K">2012</option>
                                                            <option value="100-150 K">2011</option>
                                                            <option value="60-90 K">2010</option>
                                                            <option value="70-100 K">2019</option>
                                                            <option value="100-150 K">2018</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="award-name">Award Name</label>
                                                    <div class="quform-input">
                                                        <input id="award-name" class="form-control" type="text"
                                                            name="award-name" placeholder="Enter award-name" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="award-description">Award Description</label>
                                                    <div class="quform-input">
                                                        <textarea id="award-description" class="form-control"
                                                            name="award-description" rows="6"
                                                            placeholder="How'd you hear award description"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="butn" type="submit"><span>Add Award</span></button>
                                                </div>
                                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="vertical-timeline mt-5">
                                <div class="d-block d-sm-flex justify-content-between mb-5">
                                    <div class="left-side">
                                        <h5 class="display-28">Web Developer</h5>
                                        <span class="text-primary display-28">1998 - 2001</span>
                                    </div>
                                    <div class="right-side">
                                        <div class="d-xl-inline-flex mb-3">
                                            <h5 class="display-28 mb-3 mb-xl-0">Perfect Attendance Programs</h5>
                                            <ul class="action-list ms-3">
                                                <li><a href="#!"><span data-feather="edit"></span></a></li>
                                                <li><a href="#!"><span data-feather="trash"></span></a></li>
                                            </ul>

                                        </div>
                                        <p class="mb-0">The first factor to keep in mind approximately achievement is
                                            that it's a process – not anything more, not anything less.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 py-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-0">Professional Skill</h5>
                                </div>
                                <a href="#!"><span class="text-danger"><i class="ti-pencil-alt pe-2"></i>Add
                                        Skill</span></a>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="p-3 p-sm-4 border bg-light border-radius-10">
                                <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                                    <div class="quform-elements">
                                        <div class="row">
                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="skill-title">Skill Title</label>
                                                    <div class="quform-input">
                                                        <input id="skill-title" class="form-control" type="text"
                                                            name="skill-title" placeholder="Photoshop" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-4">
                                                <div class="quform-element form-group">
                                                    <label for="percentage">Percentage</label>
                                                    <div class="quform-input">
                                                        <input id="percentage" class="form-control" type="text"
                                                            name="percentage" placeholder="50%" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <div class="col-md-1">
                                                <div class="quform-element form-group">
                                                    <label for="position-title">Delete</label>
                                                    <ul class="action-list">
                                                        <li><a href="#!"><span class="ti-trash"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="skill-title1">Skill Title</label>
                                                    <div class="quform-input">
                                                        <input id="skill-title1" class="form-control" type="text"
                                                            name="skill-title1" placeholder="Html/CSS" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-4">
                                                <div class="quform-element form-group">
                                                    <label for="percentage">Percentage</label>
                                                    <div class="quform-input">
                                                        <input id="percentage1" class="form-control" type="text"
                                                            name="percentage1" placeholder="75%" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <div class="col-md-1">
                                                <div class="quform-element form-group">
                                                    <label for="position-title">Delete</label>
                                                    <ul class="action-list">
                                                        <li><a href="#!"><span class="ti-trash"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="skill-title2">Skill Title</label>
                                                    <div class="quform-input">
                                                        <input id="skill-title2" class="form-control" type="text"
                                                            name="skill-title2" placeholder="Javascript" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-4">
                                                <div class="quform-element form-group">
                                                    <label for="percentage2">Percentage</label>
                                                    <div class="quform-input">
                                                        <input id="percentage2" class="form-control" type="text"
                                                            name="percentage2" placeholder="80%" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <div class="col-md-1">
                                                <div class="quform-element form-group">
                                                    <label for="position-title">Delete</label>
                                                    <ul class="action-list">
                                                        <li><a href="#!"><span class="ti-trash"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="skill-title3">Skill Title</label>
                                                    <div class="quform-input">
                                                        <input id="skill-title3" class="form-control" type="text"
                                                            name="skill-title3" placeholder="PHP" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-4">
                                                <div class="quform-element form-group">
                                                    <label for="percentage3">Percentage</label>
                                                    <div class="quform-input">
                                                        <input id="percentage3" class="form-control" type="text"
                                                            name="percentage3" placeholder="65%" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <div class="col-md-1">
                                                <div class="quform-element form-group">
                                                    <label for="position-title">Delete</label>
                                                    <ul class="action-list">
                                                        <li><a href="#!"><span class="ti-trash"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Begin Submit button -->
                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="butn" type="submit"><span>Add Skill</span></button>
                                                </div>
                                                <div class="quform-loading-wrap"><span class="quform-loading"></span>
                                                </div>
                                            </div>
                                            <!-- End Submit button -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}