{% extends 'base.html' %} {% load static %} {% block content %}


<section class="mb-5">
    <div class="row g-0 border-top border-color-extra-light-gray">
        {% include 'includes/candidate_sidebar.html' %}
        <div class="col-lg-9">
            <div class="dashboard-right-sidebar">
                <div class="row mb-2-2">
                    <div class="col-lg-12 mb-1-9 section-title">
                        <h1 class="mb-5">My Resume</h1>
                    </div>
                    {% if error_message %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error_message }}
                    </div>
                    {% endif %}
                    {% if success_message %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ success_message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <div class="col-lg-12 py-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h2 class="mb-0 h2-title">Work Experience</h2>
                                </div>
                                <a href="{% url 'add_experience' %}"> <span class="text-success"> <i class="bx bx-pencil pe-2 resume-icon"></i> Add Work </span> </a>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="vertical-timeline mt-5">
                                {% for workexperience in workexperiences %}
                                <div class="d-block d-sm-flex justify-content-between mb-5">
                                    <div class="left-side">
                                        <h5 class="display-28">{{ workexperience.position_title }}</h5>
                                        <span class="text-primary display-28">{{ workexperience.start_year }} - {% if workexperience.end_year %}{{ workexperience.end_year }}{% else %}Present{% endif %}</span>
                                    </div>
                                    <div class="right-side">
                                        <div class="d-xl-inline-flex mb-3">
                                            <h5 class="display-28 mb-3 mb-xl-0">{{ workexperience.company_name }}</h5>
                                            <ul class="action-list ms-3">
                                                <li><a href="{% url 'edit_experience' workexperience.id %}"><span data-feather="edit"></span></a></li>
                                                <li>
                                                    <a href="javascript:void(0);" data-id="{{ workexperience.id }}" class="delete-experience">
                                                        <span data-feather="trash"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="mb-0">{{ workexperience.work_description }}</p>
                                        <p class="mb-0"><strong>Location Type:</strong> {{ workexperience.location_type }}</p>
                                        <p class="mb-0"><strong>Employment Type:</strong> {{ workexperience.employment_type }}</p>
                                        <p class="mb-0"><strong>Start Date:</strong> {{ workexperience.start_month }} {{ workexperience.start_year }}</p>
                                        {% if workexperience.end_month or workexperience.end_year %}
                                        <p class="mb-0"><strong>End Date:</strong> {{ workexperience.end_month }} {{ workexperience.end_year }}</p>
                                        {% else %}
                                        <p class="mb-0"><strong>End Date:</strong> Present</p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 py-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h2 class="mb-0 h2-title">Job Trainings</h2>
                                </div>
                                <a href="{% url 'add_trainings' %}"> <span class="text-success"> <i class="bx bx-pencil pe-2 resume-icon"></i> Add Trainings </span> </a>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="vertical-timeline mt-5">
                                {% for job_training in job_trainings %}
                                <div class="d-block d-sm-flex justify-content-between mb-5">
                                    <div class="left-side">
                                        <h5 class="display-28">{{ job_training.training_title }}</h5>
                                        <span class="text-primary display-28">{{ job_training.start_year }} - {% if job_training.end_year %}{{ job_training.end_year }}{% else %}Present{% endif %}</span>
                                    </div>
                                    <div class="right-side">
                                        <div class="d-xl-inline-flex mb-3">
                                            <h5 class="display-28 mb-3 mb-xl-0">{{ job_training.training_organization }}</h5>
                                            <ul class="action-list ms-3">
                                                <li><a href="{% url 'update_trainings' job_training.id %}"><span data-feather="edit"></span></a></li>
                                                <li>
                                                    <a href="javascript:void(0);" data-id="{{ job_training.id }}" class="delete-training">
                                                        <span data-feather="trash"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="mb-0">{{ job_training.training_description }}</p>
                                        <p class="mb-0"><strong>Location Type:</strong> {{ job_training.location_type }}</p>
                                        <p class="mb-0"><strong>Training Type:</strong> {{ job_training.training_type }}</p>
                                        <p class="mb-0"><strong>Start Date:</strong> {{ job_training.start_month }} {{ job_training.start_year }}</p>
                                        {% if job_training.end_month or job_training.end_year %}
                                        <p class="mb-0"><strong>End Date:</strong> {{ job_training.end_month }} {{ job_training.end_year }}</p>
                                        {% else %}
                                        <p class="mb-0"><strong>End Date:</strong> Present</p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 py-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h2 class="mb-0 h2-title">Education</h2>
                                </div>
                                <a href="{% url 'add_education' %}"> <span class="text-success"> <i class="bx bx-pencil pe-2 resume-icon"></i> Add Education </span> </a>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="vertical-timeline mt-5">
                                {% for education_record in education_records %}
                                <div class="d-block d-sm-flex justify-content-between mb-5">
                                    <div class="left-side">
                                        <h5 class="display-28">{{ education_record.school_name }}</h5>
                                        <span class="text-primary display-28">
                                            {% if education_record.start_month %}
                                                {{ education_record.start_month }} {{ education_record.start_year }} -
                                            {% else %}
                                                {{ education_record.start_year }} -
                                            {% endif %}
                                            {% if education_record.end_month %}
                                                {{ education_record.end_month }} {{ education_record.end_year }}
                                            {% else %}
                                                Present
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="right-side">
                                        <div class="d-xl-inline-flex mb-3">
                                            <h5 class="display-28 mb-3 mb-xl-0">{{ education_record.educational_degree }}</h5>
                                            <ul class="action-list ms-3">
                                                <li><a href="{% url 'edit_education' education_record.id %}"><span data-feather="edit"></span></a></li>
                                                <li>
                                                    <a href="javascript:void(0);" data-id="{{ education_record.id }}" class="delete-education">
                                                        <span data-feather="trash"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="mb-0">{{ education_record.additional_info }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 py-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h2 class="mb-0 h2-title">Certifications</h2>
                                </div>
                                <a href="{% url 'add_certification' %}"> <span class="text-success"> <i
                                            class="bx bx-pencil pe-2 resume-icon"></i> Add Certifications </span> </a>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="vertical-timeline mt-5">
                                {% for certification in certifications %}
                                <div class="d-block d-sm-flex justify-content-between mb-5">
                                    <div class="left-side">
                                        <h5 class="display-28">{{ certification.name }}</h5>
                                        <span class="text-primary display-28">{{ certification.issue_month }} {{ certification.issue_year }}</span>
                                    </div>
                                    <div class="right-side">
                                        <div class="d-xl-inline-flex mb-3">
                                            <h5 class="display-28 mb-3 mb-xl-0">{{ certification.organization }}</h5>
                                            <ul class="action-list ms-3">
                                                <li><a href="{% url 'edit_certification' certification.id %}"><span
                                                            data-feather="edit"></span></a></li>
                                                <li>
                                                    <a href="javascript:void(0);" data-id="{{ certification.id }}"
                                                        class="delete-certification">
                                                        <span data-feather="trash"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <p class="mb-0">{{certification.description }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 py-3">
                        <div class="dashboard-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h2 class="mb-0 h2-title">Skills</h2>
                                </div>
                                <a href="{% url 'add_skill' %}"> <span class="text-success"> <i class="bx bx-pencil pe-2 resume-icon"></i>
                                        Add Skill </span> </a>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <div class="vertical-timeline mt-5">
                                {% for skill in skills %}
                                <div class="d-block d-sm-flex justify-content-between mb-5">
                                    <div class="left-side">
                                        <h5 class="display-28">{{ skill.skill }}</h5>
                                        <span class="text-primary display-28">{{ skill.expi_years }}</span>
                                    </div>
                                    <div class="right-side">
                                        <div class="d-xl-inline-flex mb-3">
                                            <ul class="action-list ms-3">
                                                <li><a href="{% url 'edit_skill' skill.id %}"><span data-feather="edit"></span></a></li>
                                                <li>
                                                    <a href="javascript:void(0);" data-id="{{ skill.id }}" class="delete-skill">
                                                        <span data-feather="trash"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'generate_pdf' %}" class="btn btn-blue">Export Resume</a>
            </div>

        </div>
    </div>
</section>

{% endblock %}