{% extends 'base.html' %} {% load static %} {% block content %}
<section class="mb-5">
    <div class="row g-0 border-top border-color-extra-light-gray">
        {% include 'includes/candidate_sidebar.html' %}
        <div class="col-lg-9">
            <div class="dashboard-right-sidebar">
                <div class="row mb-2-2">
                    <div class="col-lg-12 mb-1-9 section-title">
                        <h1 class="mb-5">Change Password</h1>
                    </div>
                    <div class="col-lg-12">
                        <div class="dashboard-title">
                            <h5 class="mb-0 h2-title">Change Password</h5>
                        </div>
                        <div class="dashboard-widget">
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.tags == 'success' %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            <form action="#!" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="quform-elements">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="quform-element form-group">
                                                <label for="old-password">Old Password</label>
                                                <input type="password" class="form-control"
                                                    placeholder="Enter your old password" id="old-password"
                                                    name="old_password" />
                                                {% if error_messages.old_password %}
                                                <p class="text-danger">{{ error_messages.old_password }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="quform-element form-group">
                                                <label for="new-password">New Password</label>
                                                <input type="password" class="form-control"
                                                    placeholder="Enter your new password" id="new-password"
                                                    name="new_password1" />
                                                {% if error_messages.new_password1 %}
                                                <p class="text-danger">{{ error_messages.new_password1 }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="quform-element form-group">
                                                <label for="confirm-password">Confirm Password</label>
                                                <input type="password" class="form-control"
                                                    placeholder="Enter your confirm password" id="confirm-password"
                                                    name="new_password2" />
                                                {% if error_messages.new_password2 %}
                                                <p class="text-danger">{{ error_messages.new_password2 }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="quform-submit-inner">
                                            <button class="btn btn-blue" type="submit">
                                                <span>Update Password</span>
                                            </button>
                                        </div>
                                        <div class="quform-loading-wrap">
                                            <span class="quform-loading"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}