{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="mb-5">
    <div class="row g-0 border-top border-color-extra-light-gray">
        {% include 'includes/employer_sidebar.html' %}
        <div class="col-lg-9">
            <div class="dashboard-right-sidebar">
                <div class="row mb-2-2">
                    <div class="col-lg-12 mb-1-9 section-title">
                        <h1 class="mb-5">All Positions</h1>
                    </div>
                    <div class="col-lg-12">
                        <div class="dashboard-title">
                            <div class="d-md-flex justify-content-between align-items-center">
                                <div class="mb-4 mb-md-0">
                                    <h4 class="mb-0 h5">{{ job.job_title }}</h4>
                                </div>
                                <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                                    <div class="quform-elements">
                                        <div class="row align-items-center">

                                            <!-- Begin Select element -->
                                            <div class="col-md-5 mb-4 mb-md-0">
                                                <div class="quform-element">
                                                    <div class="quform-input">
                                                        <select id="show" class="form-control form-select" name="show">
                                                            <option value="">Show</option>
                                                            <option value="Show 10">Show 10</option>
                                                            <option value="Show 20">Show 20</option>
                                                            <option value="Show 30">Show 30</option>
                                                            <option value="Show 40">Show 40</option>
                                                            <option value="Show 50">Show 50</option>
                                                            <option value="Show 60">Show 60</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Select element -->

                                            <!-- Begin Select element -->
                                            <div class="col-md-7">
                                                <div class="quform-element">
                                                    <div class="quform-input">
                                                        <select id="sortby-month" class="form-control form-select"
                                                            name="sortby-month">
                                                            <option value="">Last 6 Months</option>
                                                            <option value="Last 6 Months">Last 6 Months</option>
                                                            <option value="Last 12 Months">Last 12 Months</option>
                                                            <option value="Last 16 Months">Last 16 Months</option>
                                                            <option value="Last 24 Months">Last 24 Months</option>
                                                            <option value="Last 5 Year">Last 5 Year</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Select element -->

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <ul class="nav nav-tabs" id="myTabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active text-primary" id="total-tab" data-toggle="tab" href="#total" role="tab" aria-controls="total" aria-selected="true">Total(s): 6</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-success" id="approved-tab" data-toggle="tab" href="#approved" role="tab" aria-controls="approved" aria-selected="false">Approved: 2</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-danger" id="rejected-tab" data-toggle="tab" href="#rejected" role="tab" aria-controls="rejected" aria-selected="false">Rejected(s): 4</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-warning" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="false">Pending: 0</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="total" role="tabpanel" aria-labelledby="total-tab">
                                    <div class="row mt-n1-9">
                                        {% for applicant_data in applicants_data %}
                                        <div class="col-xxl-6 mt-1-9">
                                            <div class="card-style2">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-center">
                                                        <div class="d-sm-flex text-center text-sm-start mb-4 mb-sm-0">
                                                            <div class="flex-shrink-0 mb-3 mb-sm-0">
                                                                <img src="{{ applicant_data.profile_picture.url }}" alt="{{ applicant_data.first_name }} {{ applicant_data.last_name }}" class="border-radius-50" style="width: 100px; height: 100px;">
                                                            </div>
                                                            <div class="flex-grow-1 ms-sm-3">
                                                                <p>{{ applicant_data.first_name }} {{ applicant_data.last_name }}</p>
                                                                <div class="mb-3">
                                                                    <span class="text-secondary me-2 display-30">{{ job.job_title }}</span>
                                                                    <span class="vertical-align-middle display-30"><i class="ti-location-pin pe-2 text-secondary"></i>UK</span>
                                                                </div>
                                                                <div>
                                                                    <span class="company-info">App</span>
                                                                    <span class="company-info">Development</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <ul class="list-style">
                                                            <li><a href="#!"><i data-feather="eye"></i></a></li>
                                                            <li><a href="#!"><i data-feather="check"></i></a></li>
                                                            <li><a href="#!"><i data-feather="x"></i></a></li>
                                                            <li><a href="#!"><i data-feather="trash-2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">
                                    <div class="row mt-n1-9">
                                        <div class="col-xxl-6 mt-1-9">
                                            <div class="card-style2">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-center">
                                                        <div class="d-sm-flex text-center text-sm-start mb-4 mb-sm-0">
                                                            <div class="flex-shrink-0 mb-3 mb-sm-0">
                                                                <img src="img/candidate/candidate-02.jpg" alt="..."
                                                                    class="border-radius-50">
                                                            </div>
                                                            <div class="flex-grow-1 ms-sm-3">
                                                                <h5><a href="employer-details.html">Ella Smith</a>
                                                                </h5>
                                                                <div class="mb-3">
                                                                    <span class="text-secondary me-2 display-30">UI/UX Designer</span>
                                                                    <span
                                                                        class="vertical-align-middle display-30"><i
                                                                            class="ti-location-pin pe-2 text-secondary"></i>USA</span>
                                                                </div>
                                                                <div>
                                                                    <span class="company-info">Web</span>
                                                                    <span class="company-info">Design</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <ul class="list-style">
                                                            <li><a href="#!"><i data-feather="eye"></i></a></li>
                                                            <li><a href="#!"><i data-feather="check"></i></a></li>
                                                            <li><a href="#!"><i data-feather="x"></i></a></li>
                                                            <li><a href="#!"><i data-feather="trash-2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
                                    <div class="row mt-n1-9">
                                        <div class="col-xxl-6 mt-1-9">
                                            <div class="card-style2">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-center">
                                                        <div class="d-sm-flex text-center text-sm-start mb-4 mb-sm-0">
                                                            <div class="flex-shrink-0 mb-3 mb-sm-0">
                                                                <img src="img/candidate/candidate-03.jpg" alt="..."
                                                                    class="border-radius-50">
                                                            </div>
                                                            <div class="flex-grow-1 ms-sm-3">
                                                                <h5><a href="employer-details.html">John Doe</a>
                                                                </h5>
                                                                <div class="mb-3">
                                                                    <span class="text-secondary me-2 display-30">Frontend Developer</span>
                                                                    <span
                                                                        class="vertical-align-middle display-30"><i
                                                                            class="ti-location-pin pe-2 text-secondary"></i>Canada</span>
                                                                </div>
                                                                <div>
                                                                    <span class="company-info">Web</span>
                                                                    <span class="company-info">Development</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <ul class="list-style">
                                                            <li><a href="#!"><i data-feather="eye"></i></a></li>
                                                            <li><a href="#!"><i data-feather="check"></i></a></li>
                                                            <li><a href="#!"><i data-feather="x"></i></a></li>
                                                            <li><a href="#!"><i data-feather="trash-2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                                    <div class="row mt-n1-9">
                                        <div class="col-xxl-6 mt-1-9">
                                            <div class="card-style2">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-center">
                                                        <div class="d-sm-flex text-center text-sm-start mb-4 mb-sm-0">
                                                            <div class="flex-shrink-0 mb-3 mb-sm-0">
                                                                <img src="img/candidate/candidate-03.jpg" alt="..."
                                                                    class="border-radius-50">
                                                            </div>
                                                            <div class="flex-grow-1 ms-sm-3">
                                                                <h5><a href="employer-details.html">John Pending</a>
                                                                </h5>
                                                                <div class="mb-3">
                                                                    <span class="text-secondary me-2 display-30">Frontend Developer</span>
                                                                    <span
                                                                        class="vertical-align-middle display-30"><i
                                                                            class="ti-location-pin pe-2 text-secondary"></i>Canada</span>
                                                                </div>
                                                                <div>
                                                                    <span class="company-info">Web</span>
                                                                    <span class="company-info">Development</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <ul class="list-style">
                                                            <li><a href="#!"><i data-feather="eye"></i></a></li>
                                                            <li><a href="#!"><i data-feather="check"></i></a></li>
                                                            <li><a href="#!"><i data-feather="x"></i></a></li>
                                                            <li><a href="#!"><i data-feather="trash-2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
