{% extends 'base.html' %} {% load static %} {% block content %}

{% load static %}
<section class="page-title-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="page-title-list">
                            <ol class="breadcrumb d-inline-block mb-0">
                                <li class="breadcrumb-item d-inline-block"><a href="#!">Home</a></li>
                                <li class="breadcrumb-item d-inline-block active"><a href="#!" class="text-blue">About</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<main class="hero-bg container">
    <section class="hero">
        <section class="how-it-works">
            <h1 class="text-center how-it-works-title">How It Works</h1>
            <div class="row benefits">
                <article class="col-md-4">
                    <div class="d-flex flex-column h-100 rounded-3 p-3 text-center">
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <i data-feather="database"></i>
                        </div>
                        <h1 class="card-title">Upload Applicant Data</h1>
                        <p class="card-text">Input your applicant data easily and quickly into our system.</p>
                    </div>
                </article>
                <article class="col-md-4">
                    <div class="d-flex flex-column h-100 rounded-3 p-3 text-center">
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <i data-feather="activity"></i>
                        </div>
                        <h1 class="card-title">Our Algorithm Predicts Retention</h1>
                        <p class="card-text">
                            Our advanced algorithm predicts the potential for employee retention.
                        </p>
                    </div>
                </article>
                <article class="col-md-4">
                    <div class="d-flex flex-column h-100 rounded-3 p-3 text-center">
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <i data-feather="users"></i>
                        </div>
                        <h1 class="card-title">Make Informed Hiring Decisions</h1>
                        <p class="card-text">
                            Use our insights to make informed, data-driven hiring decisions.
                        </p>
                    </div>
                </article>
            </div>
        </section>
    </section>
</main>
<section class="features bg-light" id="features">
    <header class="text-center w-100 py-5">
        <h1 class="feature-title">FEATURES OF RETAINLY</h1>
        <p class="feature-description">Discover the Power of Our Advanced Recruitment System!</p>
    </header>
    <div class="container-md" id="featured-3">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="owl-carousel owl-theme features-text">
                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Hassle-Free Efficiency</h1>
                                <p class="card-text">Say goodbye to paperwork and lengthy processes. With RetainMe,
                                    applicants can easily submit their applications online anytime, anywhere.
                                    Hassle-free recruitment made simple.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Predictive Power</h1>
                                <p class="card-text">Harness the advanced predictive analytics of RetainMe. Our
                                    cutting-edge technology analyzes factors like qualifications and experience to
                                    predict employee retention probabilities. Make data-driven recruitment
                                    decisions.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Enhance Team Stability</h1>
                                <p class="card-text">By predicting employee retention, you can build a more stable
                                    and
                                    committed team.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Environmentally Friendly</h1>
                                <p class="card-text">By embracing RetainMe, you contribute to a greener future. Our
                                    paperless system reduces waste, promoting a healthier environment. Join the
                                    paperless revolution with RetainMe.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Improve Hiring Efficiency</h1>
                                <p class="card-text">Our system helps you streamline the hiring process, saving time
                                    and
                                    resources.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Automated Screening</h5>
                                    <p class="card-text">Save time and resources with RetainMe's automated
                                        application
                                        screening. Streamline the process, evaluate applications efficiently, and
                                        focus
                                        on finding the right candidates for your organization.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Real-Time Insights</h1>
                                <p class="card-text">Monitor employee performance and engagement with RetainMe. Take
                                    proactive action and provide personalized support to improve retention rates.
                                    Stay
                                    ahead of potential issues.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Visualize Success</h1>
                                <p class="card-text">RetainMe presents intuitive dashboards and reports, summarizing
                                    key
                                    retention metrics and candidate insights. Empower your HR teams with data-driven
                                    decisions and drive success.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="card card-animate mb-5 bg-white rounded-lg">
                            <img src="https://placehold.co/200x100" alt="Placeholder Image" class="mb-3">
                            <div class="card-body text-center">
                                <h1 class="card-title">Drive Business Growth</h1>
                                <p class="card-text">A well-retained team leads to consistent business growth and
                                    success.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-nav-buttons">
            <button class="custom-nav-button" id="customPrev"><i class="fas fa-angle-left"></i></button>
            <button class="custom-nav-button" id="customNext"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>
</section>
<div class="container my-5 about">
    <!-- First Section -->
    <div class="row rounded p-5 mb-5 animate__animated animate__fadeInLeft">
        <div class="col-md-6 mb-4 mb-md-0">
            <img src="https://via.placeholder.com/350" alt="Placeholder" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h2 class="fw-bold mb-3">What is RetainMe?</h2>
            <p>
                RetainMe is a decision-support system equipped with machine learning algorithms. It predicts
                employee
                retention, acting as a pivotal resource for job applicant screening and evaluating their potential
                for
                long-term roles within organizations. By aiming to optimize the recruitment process, RetainMe
                ensures
                candidates have a higher likelihood of contributing to an organization's long-term objectives.
            </p>
        </div>
    </div>

    <!-- Second Section -->
    <div class="row rounded p-5 mb-5 animate__animated animate__fadeInRight">
        <div class="col-md-6">
            <h2 class="fw-bold mb-3">How Does It Work?</h2>
            <p>
                Job applicants register on RetainMe, completing their profiles with essential information. Following
                potential tests and surveys, their profile undergoes verification. Upon verification, RetainMe
                instantly
                predicts the likelihood of the applicant staying long-term if recruited. This prediction becomes an
                influential factor in recruitment, allowing for data-driven decision-making.
            </p>
        </div>
        <div class="col-md-6 mb-4 mb-md-0 d-flex justify-content-end">
            <img src="https://via.placeholder.com/350" alt="Placeholder" class="img-fluid rounded">
        </div>
    </div>



    <!-- Limitations Section -->
    <div class="row mt-5 p-4 system-limitations">
        <div class="col-12">
            <h2 class="fw-bold mb-4 text-center system-limitations-heading">System Limitations</h2>
            <ul class="system-limitations-list">
                <li class="system-limitations-item"><i class="fas fa-exclamation-circle system-limitations-icon"></i>
                    Our findings are primarily based on Emergence Systems and Solutions IT department, potentially
                    making it less applicable to other industries.</li>
                <li class="system-limitations-item"><i class="fas fa-exclamation-circle system-limitations-icon"></i>
                    Predictive models from past employee data might not represent future workforce dynamics
                    accurately.
                </li>
                <li class="system-limitations-item"><i class="fas fa-exclamation-circle system-limitations-icon"></i>
                    Our study is limited to classification algorithms, other techniques might offer different
                    insights.
                </li>
                <li class="system-limitations-item"><i class="fas fa-exclamation-circle system-limitations-icon"></i>
                    RDSS focuses on predicting retention for applicants, not current employees, limiting its
                    applicability in ongoing employment scenarios.</li>
                <li class="system-limitations-item"><i class="fas fa-exclamation-circle system-limitations-icon"></i>
                    External factors like political or economic events aren't considered in our retention rate
                    analysis.
                </li>
            </ul>
        </div>
    </div>


    <!-- Researchers Section -->
    <div class="row mt-5 text-center bg-light py-5">
        <div class="col-12 mb-5">
            <h2 class="fw-bold">Meet the Researchers</h2>
        </div>
        <div class="col-md-4 mt-4">
            <img src="https://via.placeholder.com/150" class="rounded-circle mb-3" alt="Sherinata Said">
            <h3>Sherinata Said</h3>
        </div>
        <div class="col-md-4 mt-4">
            <img src="https://via.placeholder.com/150" class="rounded-circle mb-3" alt="Bin-baz Akilan">
            <h3>Bin-baz Akilan</h3>
        </div>
        <div class="col-md-4 mt-4">
            <img src="https://via.placeholder.com/150" class="rounded-circle mb-3" alt="Kenneth Tan">
            <h3>Kenneth Tan</h3>
        </div>
    </div>
</div>

{% endblock %}