{% extends 'base.html' %} {% load static %} {% block content %}

<section class="page-title-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="h2 mb-4">Job Listing</h1>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="page-title-list">
                            <ol class="breadcrumb d-inline-block mb-0">
                                <li class="breadcrumb-item d-inline-block"><a href="#!">Home</a></li>
                                <li class="breadcrumb-item d-inline-block active"><a href="#!"
                                        class="text-blue">Jobs</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="d-md-flex justify-content-between align-items-center mb-2-2">
                    <div class="mb-4 mb-md-0">
                        <h4 class="mb-0 h5">Showing 1–10 of <span class="text-primary">28 Jobs</span></h4>
                    </div>
                    <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                        <div class="quform-elements">
                            <div class="row align-items-center">
                                <!-- Begin Select element -->
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <div class="quform-element">
                                        <div class="quform-input">
                                            <select id="sortby" class="form-control form-select border-radius-10"
                                                name="sortby">
                                                <option value="">Sort By</option>
                                                <option value="New Jobs">New Jobs</option>
                                                <option value="Freelance">Freelance</option>
                                                <option value="Full Time">Full Time</option>
                                                <option value="Internship">Internship</option>
                                                <option value="Part Time">Part Time</option>
                                                <option value="Temporary">Temporary</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Select element -->
                                <!-- Begin Select element -->
                                <div class="col-md-6">
                                    <div class="quform-element">
                                        <div class="quform-input">
                                            <select id="show" class="form-control form-select border-radius-10"
                                                name="show">
                                                <option value="">Show</option>
                                                <option value="Show 10">Show 10</option>
                                                <option value="Show 20">Show 20</option>
                                                <option value="Show 30">Show 30</option>
                                                <option value="Show 40">Show 40</option>
                                                <option value="Show 50">Show 50</option>
                                                <option value="Show 60">Show 60</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Select element -->
                            </div>
                        </div>
                    </form>
                </div>
                <div id="accordion2" class="accordion-style1">
                    {% for job in jobs_list %}
                    <div class="card card-style3 mb-4 bg-white">
                        <div class="card-body" role="navigation">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'content/job-01.jpg' %}" alt="..."
                                        class="me-3 border-radius-10">
                                    <h3 class="h5 mb-0">{{ job.job_title }}</h3>
                                </div>
                                <a href="{% url 'job_details' job.id %}" class="butn butn-md apply-btn">Apply Job</a>
                            </div>
                        </div>
                        <div class="card-body mt-n1 pt-0">
                            <p class="mb-3">{{ job.job_description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="display-30 me-2"><i
                                            class="fas fa-map-marker-alt pe-2"></i>{{ job.region }}</span>
                                    <span class="display-30 me-2"><i class="far fa-clock pe-2"></i>{{ job.posted_date }}</span>
                                    <span class="display-30"><i class="far fa-money-bill-alt pe-2"></i>₱{{ job.offered_salary }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center mt-5">
                    <div class="pagination">
                        <ul>
                            <li><a href="#!"><i class="fas fa-long-arrow-alt-left me-2"></i> Prev</a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li><a href="#!">2</a></li>
                            <li><a href="#!">3</a></li>
                            <li><a href="#!">Next<i class="fas fa-long-arrow-alt-right ms-2"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}