{% extends 'base.html' %} {% load static %} {% block content %}

<section class="mb-5">
    <div class="row g-0 border-top border-color-extra-light-gray">
        {% include 'includes/employee_sidebar.html' %}
        <div class="col-lg-9">
            <div class="dashboard-right-sidebar">
                <div class="row mb-2-2">
                    <div class="col-lg-12 mb-1-9">
                        <h3 class="mb-5">Company Profile</h3>
                    </div>
                    <div class="col-lg-12 mb-5">
                        <div class="dashboard-title">
                            <h5 class="mb-0">My Profile</h5>
                        </div>
                        <div class="dashboard-widget">
                            <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                                <div class="quform-elements">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <div class="quform-input">
                                                    <label for="resume">Browse Logo</label>
                                                    <div class="custom-file">
                                                        <input class="custom-file-input" type="file" id="resume"
                                                            name="resume" />
                                                        <label class="custom-file-label" data-browse="Browse">Choose
                                                            file</label>
                                                    </div>
                                                    <p class="quform-description d-inline-block">Max file size is 1MB,
                                                        Minimum dimension: 330x300 And Suitable files are .jpg & .png
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <div class="quform-input">
                                                    <label for="coverletter">Browse Cover</label>
                                                    <div class="custom-file">
                                                        <input class="custom-file-input" type="file" id="coverletter"
                                                            name="coverletter" />
                                                        <label class="custom-file-label" data-browse="Browse">Choose
                                                            file</label>
                                                    </div>
                                                    <p class="quform-description">Max file size is 1MB, Minimum
                                                        dimension: 330x300 And Suitable files are .jpg & .pn</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="company-name">Company Name</label>
                                                <div class="quform-input">
                                                    <input id="company-name" class="form-control" type="text"
                                                        name="company-name" placeholder="Enter company name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="email">Email Address</label>
                                                <div class="quform-input">
                                                    <input id="email" class="form-control" type="text" name="email"
                                                        placeholder="name@example.com" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="website-link">Phone</label>
                                                <div class="quform-input">
                                                    <input class="form-control" id="phone" type="text" name="phone"
                                                        placeholder="Enter your phone">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="website-link">Website</label>
                                                <div class="quform-input">
                                                    <input id="website-link" class="form-control" type="text"
                                                        name="website-link" placeholder="Enter website link" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="since-date">Est. Since</label>
                                                <div class="quform-input">
                                                    <input class="form-control" id="since-date" type="text"
                                                        name="since-date" placeholder="Enter since date">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="team-size">Team Size</label>
                                                <div class="quform-input">
                                                    <select id="team-size" class="form-control form-select"
                                                        name="team-size">
                                                        <option value="">1-100</option>
                                                        <option value="1-100">1-100</option>
                                                        <option value="100-200">100-200</option>
                                                        <option value="200-500">200-500</option>
                                                        <option value="500-1000">500-1000</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="category">Category</label>
                                                <div class="quform-input">
                                                    <select id="category" class="form-control form-select"
                                                        name="category">
                                                        <option value="">Choose Category</option>
                                                        <option value="Accounting">Accounting</option>
                                                        <option value="Marketing">Marketing</option>
                                                        <option value="Design">Design</option>
                                                        <option value="Development">Development</option>
                                                        <option value="Engineering">Engineering</option>
                                                        <option value="Health & Care">Health & Care</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="search">Allow In Search & Listing</label>
                                                <div class="quform-input">
                                                    <select id="search" class="form-control form-select" name="search">
                                                        <option value="">Yes</option>
                                                        <option value="Yes">Yes</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="quform-element form-group">
                                                <label for="message">About Company</label>
                                                <div class="quform-input">
                                                    <textarea id="message" class="form-control" name="message" rows="6"
                                                        placeholder="How'd you hear about company?"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="quform-submit-inner">
                                                <button class="butn" type="submit"><span>Save Changes</span></button>
                                            </div>
                                            <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-lg-12">
                        <div class="dashboard-title">
                            <h5 class="mb-0">Contact Information</h5>
                        </div>
                        <div class="dashboard-widget">
                            <form action="#!" method="post" enctype="multipart/form-data" onclick="">
                                <div class="quform-elements">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="region">Region</label>
                                                <div class="quform-input">
                                                    <input id="region" class="form-control" type="text" name="region"
                                                        placeholder="Enter your region">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="city">City</label>
                                                <div class="quform-input">
                                                    <input id="city" class="form-control" type="text" name="city"
                                                        placeholder="Enter your city">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="address">Barangay</label>
                                                <div class="quform-input">
                                                    <input id="address" class="form-control" type="text" name="address"
                                                        placeholder="Enter your address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="location">Street Address</label>
                                                <div class="quform-input">
                                                    <input id="location" class="form-control" type="text"
                                                        name="location" placeholder="Enter your location">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-5">
                                            <div class="quform-submit-inner">
                                                <button class="butn" type="submit">Save Changes</button>
                                            </div>
                                            <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}