{% extends 'base.html' %} {% load static %} {% block content %}

<section class="mb-5">
    <div class="row g-0 border-top border-color-extra-light-gray">
        {% include 'includes/employer_sidebar.html' %}
        <div class="col-lg-9">
            <div class="dashboard-right-sidebar">
                <div class="row mb-2-2">
                    <div class="col-lg-12 mb-1-9 section-title">
                        <h1 class="mb-5">Employer Dashboard</h1>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1-9 mb-lg-0">
                        <div class="card card-style1">
                            <div class="card-body p-1-6">
                                <div class="categorie-icon light-blue">
                                    <span class="bx bx-briefcase icon-dashboard blue"></span>
                                </div>
                                <h3 class="h2 mb-1 custom-h3">{{ posted_job_count }}</h3>
                                <span class="mb-0 display-30 custom-span">Posted Jobs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1-9 mb-lg-0">
                        <div class="card card-style1">
                            <div class="card-body p-1-6">
                                <div class="categorie-icon red">
                                    <span class="bx bx-user icon-dashboard"></span>
                                </div>
                                <h3 class="h2 mb-1 custom-h3">10382</h3>
                                <span class="mb-0 display-30 custom-span">Total Visitors</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-1-9 mb-sm-0">
                        <div class="card card-style1">
                            <div class="card-body p-1-6">
                                <div class="categorie-icon yellow">
                                    <span class="bx bx-message-square icon-dashboard"></span>
                                </div>
                                <h3 class="h2 mb-1 custom-h3">85</h3>
                                <span class="mb-0 display-30 custom-span">Reviews</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card card-style1">
                            <div class="card-body p-1-6">
                                <div class="categorie-icon green">
                                    <span class="bx bx-bookmark icon-dashboard"></span>
                                </div>
                                <h3 class="h2 mb-1 custom-h3">50</h3>
                                <span class="mb-0 display-30 custom-span">Shortlist</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-5">
                    <div class="col-lg-12">
                        <div class="dashboard-title">
                            <h2 class="mb-0 h2-title">Recent Applicants</h2>
                        </div>
                        <div class="dashboard-widget">
                            <div class="row mt-n1-9">
                                {% for application in recent_applications %}
                                <div class="col-xxl-6 mt-1-9 mb-3">
                                    <div class="card-style2">
                                        <div class="card-body">
                                            <div class="d-sm-flex justify-content-between align-items-center">
                                                <div class="d-sm-flex text-center text-sm-start mb-4 mb-sm-0">
                                                    <div class="flex-shrink-0 mb-3 mb-sm-0">
                                                        <div class="flex-shrink-0 mb-3 mb-sm-0" style="width: 90px; height: 90px;">
                                                            <img src="{{ application.applicant.candidateprofile.profile_picture.url }}" alt="..."
                                                                class="border-radius-50" style="max-width: 100%; max-height: 100%;">
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-sm-3">
                                                            <h3><a class="applicant-name" href="#">{{ application.applicant.user.first_name }} {{ application.applicant.user.last_name }}</a></h3>
                                                        <div class="mb-3 applicant-details">
                                                            <span class="me-2 display-30">{{ application.applicant.candidateprofile.job_title }}</span>
                                                            <span class="vertical-align-middle display-30"><i class="fas fa-map-marker-alt pe-2 text-secondary"></i></i>{{ application.applicant.candidateprofile.region }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="list-style">
                                                    <li><a href="#!" data-feather="eye"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}