{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="mb-5">
    <div class="row g-0 border-top border-color-extra-light-gray">
        {% include 'includes/candidate_sidebar.html' %}
        <div class="col-lg-9">
            <div class="dashboard-right-sidebar">
                <div class="row mb-2-5">
                    <div class="col-lg-12 mb-1-9">
                        <h3 class="mb-5">Candidate Profile</h3>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="dashboard-title">
                            <h5 class="mb-0">Add Profile</h5>
                        </div>

                        <div class="dashboard-widget">
                            <form action="#!" method="POST" enctype="multipart/form-data" onclick="">
                                {% csrf_token %}
                                <div class="quform-elements">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="quform-element form-group">
                                                <div class="quform-input">
                                                    <label for="profile_picture">Profile Picture</label>
                                                    <div class="custom-file">
                                                        <input class="custom-file-input" type="file"
                                                            id="profile_picture" name="profile_picture" />
                                                        <label class="custom-file-label" data-browse="Browse">Choose
                                                            file</label>
                                                    </div>
                                                    <p class="quform-description d-inline-block">Max file size is 1MB,
                                                        Minimum dimension: 330x300 And Suitable files are .jpg & .png
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="quform-element form-group">
                                                <label for="first_name">First Name</label>
                                                <div class="quform-input">
                                                    <input id="first_name" class="form-control" type="text"
                                                        name="first_name" placeholder="Enter full name" value="{{ user.first_name }}" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="quform-element form-group">
                                                <label for="middle_name">Middle Name</label>
                                                <div class="quform-input">
                                                    <input id="middle_name" class="form-control" type="text"
                                                        name="middle_name" placeholder="Optional" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="quform-element form-group">
                                                <label for="last_name">Last Name</label>
                                                <div class="quform-input">
                                                    <input id="last_name" class="form-control" type="text"
                                                        name="last_name" placeholder="Enter last name" value="{{ user.last_name }}" readonly >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="job_title">Job Title</label>
                                                <div class="quform-input">
                                                    <input id="job_title" class="form-control" type="text"
                                                        name="job_title" placeholder="Enter job title " required>
                                                </div>
                                                {% if error_messages and 'job_title' in error_messages %}
                                                <p class="text-danger">{{ error_messages.job_title }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="phone">Phone</label>
                                                <div class="quform-input">
                                                    <input class="form-control" id="phone" type="text" name="phone"
                                                        placeholder="e.g., 09261006969" required>
                                                </div>
                                                {% if error_messages and 'phone' in error_messages %}
                                                <p class="text-danger">{{ error_messages.phone }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="email">Email Address</label>
                                                <div class="quform-input">
                                                    <input id="email" class="form-control" type="email" name="email"
                                                        placeholder="name@example.com" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="quform-element form-group">
                                                <label for="current_salary">Current Salary (₱)</label>

                                                <div class="quform-input">
                                                    <input id="current_salary" class="form-control" type="text"
                                                        name="current_salary" placeholder="e.g., 1,000,000" required>
                                                </div>
                                                {% if error_messages and 'current_salary' in error_messages %}
                                                <p class="text-danger">{{ error_messages.current_salary }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="quform-element form-group">
                                                <label for="expected_salary">Expected Salary (₱)</label>
                                                <div class="quform-input">
                                                    <input id="expected_salary" class="form-control" type="text"
                                                        name="expected_salary" placeholder="e.g., 1,000,000" required>
                                                </div>
                                                {% if error_messages and 'expected_salary' in error_messages %}
                                                <p class="text-danger">{{ error_messages.expected_salary }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="experience">Experience</label>
                                                <div class="quform-input">
                                                    <select id="experience" class="form-control form-select"
                                                        name="experience" required>
                                                        <option value="">Select Experience</option>
                                                        <option value="Fresher">Fresher</option>
                                                        <option value="Less Than 1 Year">Less Than 1 Year</option>
                                                        <option value="2 Year">2 Year</option>
                                                        <option value="3 Year">3 Year</option>
                                                        <option value="4 Year">4 Year</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="age">Age</label>
                                                <div class="quform-input">
                                                    <input type="text" id="age" class="form-control" name="age"
                                                        placeholder="Enter Age" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="education_levels">Education Levels</label>
                                                <div class="quform-input">
                                                    <select id="education_levels" class="form-control form-select"
                                                        name="education_levels" required>
                                                        <option value="">Select Education Levels</option>
                                                        <option value="Phd">Phd</option>
                                                        <option value="Master Degree">Master Degree</option>
                                                        <option value="Degree">Degree</option>
                                                        <option value="Diploma">Diploma</option>
                                                        <option value="Certificate">Certificate</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="region">Region</label>
                                                <div class="quform-input">
                                                    <input id="region" class="form-control" type="text" name="region"
                                                        placeholder="Enter your region" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="city">City</label>
                                                <div class="quform-input">
                                                    <input id="city" class="form-control" type="text" name="city"
                                                        placeholder="Enter your city" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="barangay">Barangay</label>
                                                <div class="quform-input">
                                                    <input id="barangay" class="form-control" type="text"
                                                        name="barangay" placeholder="Enter your address" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="quform-element form-group">
                                                <label for="street_address">Street Address</label>
                                                <div class="quform-input">
                                                    <input id="street_address" class="form-control" type="text"
                                                        name="street_address" placeholder="Enter your address" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="quform-element form-group">
                                                <label for="description">Description</label>
                                                <div class="quform-input">
                                                    <textarea id="description" class="form-control" name="description" rows="6"
                                                        placeholder="How'd you hear description" required></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="quform-submit-inner">
                                                <button class="btn btn-blue" type="submit"><span>Save
                                                        Changes</span></button>
                                                <a href="{% url 'view_profile' %}"
                                                    class="btn btn-blue  "><span>Back</span></a>
                                            </div>
                                            <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}